body{
    font-weight: 500;
}

.data{
    width: 500px;
}

#navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
}

#navbar button{
    height: 30px;
    font-size: large;
}

thead{
    text-align: right;
    font-size: 20px;
}

td {
    text-align: right;
}

section{
    display: flex;
    justify-content: left;
}

table{
    margin-top: 10px;
    border: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
    width: max-content;
    padding-right: 100px;
}

table tr{
    border-bottom: 1px solid;
    padding-right: 10px;
}

#utils{
    margin-left: 20px;
}

input {
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

select {
    height: 20px;
}

button{
    margin-left: 10px;
    height: 20px;
    margin-top: 10px;
}

#choice{
    margin-top: 10px;
}

img {
    object-position: left top;
    width: 1600px;
    height: 850px;
}